<h2 class="user_title">退会</h2>
<h3>退会後はご登録情報をご利用いただけません。</h3>
<div class="user_exit">

  <div class=" user_actions">
  	<%= link_to '退会する', root_path, method: :delete, class: 'user_button' %>
  </div>

  <div class="user_links">
  	<%= link_to 'マイページ', mypage_path %>
  </div>

</div>
