<h2>マイページ</h2>

  <div class=" user_menu">
  	<%= link_to "会員情報編集", edit_user_path(@user.id), class: 'mypage_button' %>

  	<%= link_to "投稿", new_post_path, class: 'mypage_button' %>

  	<%= link_to "お気に入り", edit_user_path(@user.id), class: 'mypage_button' %>
  </div>

  <div>
    <% if @post_images.present? %>
      <% @post_images.each do |post_image| %>
        <%= attachment_image_tag @post_image, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg",size: "50x50" %>
      <% end %>
    <% end %>
  </div>
