/* show */

.spot_category {
	display:inline-block;
	padding: 0.2em;
	margin: 1em 0;
	font-weight: bold;
	border: solid 2px #009966;
	background-color: #009966;
	border-radius: 10px;
}

.category_name {
	margin: 0;
	padding: 0;
}