/* index */

.main-visual {
	width: 100%;
	height: 100px;
	background-color: black;
	margin-bottom: 50px;
}

.top-page table {
	margin-bottom: 20px;
}

.top-page table td {
	text-align: center;
}



/* show */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

#map {
	width: 40%;
	height: 400px;
	margin-top: 3em;
	margin-left: 3em;
}

.spot_show {
	width: 80%;
	margin: 3em auto;
	background: #fafafa;
}

.spot_show_first {
	width: 100%;
}

.spot_show_second {
	width: 100%;
}

.spot_images {
	width: 40%;
	float: left;
	margin-left: 3em;
	padding-top: 3em;
	padding-bottom: 3em;
}

.spot_image {
	width: 100%;
}

.spot_show_text {
	width: 50%;
	float: right;
	margin-right: 3em;
	padding-top: 3em;
	padding-bottom: 3em;
}

.spot_name {
	font-weight: bolder;
	font-size: 2em;
}

.heart {
	text-align: left;
}

.spot_category {
	display:inline-block;
	margin: 1em 0;
	padding: 0.3em;
	font-weight: bold;
	border: solid 2px #87CEFA;
	background-color: #87CEFA;
	border-radius: 5px;
}

.category_name {
	margin: 0;
	padding: 0;
}

.address {
	border-bottom: dotted 2px #87CEFA;
	margin-bottom: 1em;
}

.content {
	border-bottom: dotted 2px #87CEFA;
}

.spot_post_show {
	margin-top: 1em;
}

.spot_post_date {
	width: 100%;
	background-color: #e9e9e9;
	text-align: right;
	padding-right: 0.5em;
}

.spot_comment {

}